ccxt==4.5.3
tiktoken==0.11.0
aiohttp==3.13.2
aiodns==3.6.1
aiosqlite==0.21.0
aiohttp-client-cache==0.13.0
rich==14.1.0
numpy==2.2.3
numba==0.61.2
scipy==1.16.1
pandas==2.3.2
audioop-lts==0.2.2
discord.py==2.6.4
plotly==6.3.0
google-genai==1.56.0
Pillow==11.3.0
python-dotenv>=1.0.0
kaleido==1.1.0
wtpsplit>=2.0.0
torch>=2.0.0